.unstyled-list { padding: 0; list-style-type: none; }

.subtle { color: #999; font-size: 70%; }

.image figcaption { font-size: 13px; }

figure.image img { min-height: 150px; }

body { margin-top: 20px; }

.name-title {
letter-spacing: 0.05em;
transform: rotate(-1.8deg);
line-height: 85%;
margin-top: 5px;
margin-bottom: 10px; 
}

.name-detail { display: inline-block; padding-bottom: 10px; color: #a0a0a0; font-size: 80%; line-height: 150%; }

.blog .posttitle { font-size: 40px; font-weight: bold; margin: 0;}
.titledate { color: #999; }
.blog h2 { font-size: 25px; }

.blog img { max-width: 100%; max-height: auto; }

p { margin-bottom: 1.8rem; }

h6 { margin-bottom: .5em; }

/* shrink header selfie image on mobile */
img#selfie { width: 160px; }
@media (min-width: 400px) { img#selfie { width: auto; } }

