body {
  font-family: 'Merriweather', georgia, serif;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  margin: 0;
}

#playground-display {}

canvas.background-canvas {
  position: fixed;
  z-index: -500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#disqus_thread {
  padding: 20px;
  border-radius: 3px;
}

.name-title {
  text-align: center;
  background-color: #FFA900;
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-family: "Gill Sans", "Gill Sans MT", "Arial Black";
  font-size: 20px;
  margin-bottom: 70px;
}
.name-title a { color: white; text-decoration: none; }

#site {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", "Gill Sans MT", "Arial Black";
    color: #76203f;
}

blockquote {
    margin: 0px;
    padding: 10px;
    background-color: #cdddef;
}

#post p {
    margin-left: 15px;
}

.footer {
    border-top: 1px solid #cccccc;
    padding: 5px;
    margin-bottom: 25px;
}

ul.posts li {
    list-style: none;
}

span.post_list_date {
    color: grey;
    font-size: 70%;
}

