body {
    font-family: 'Merriweather', georgia, serif;
    font-size: 14px;
    line-height: 20px;
}

#site {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", "Gill Sans MT", "Arial Black";
}

blockquote {
    margin: 0px;
    padding: 10px;
    background-color: #cdddef;
}

#post p {
    margin-left: 15px;
}

.footer {
    border-top: 1px solid #cccccc;
    padding: 5px;
    margin-bottom: 25px;
}

ul.posts li {
    list-style: none;
}

span.post_list_date {
    color: grey;
    font-size: 70%;
}

