body {
    font-family: georgia;
    text-rendering: optimizeLegibility;
    font-size: 17px;
}

#site {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", "Gill Sans MT", "Arial Black";
}

blockquote {
 border : 2px solid #000;
 width: 200px;
 float: right;
 margin: 0px;
 padding: 10px;
 background-color: #ccc;
 }

#post p {
    margin-left: 15px;
}

.footer {
    margin-bottom: 25px;
}

ul.posts li {
    list-style: none;
}

span.post_list_date {
    color: grey;
    font-size: 70%;
}

