---
layout: default
title: Kevin Watters
---

<div class="five columns" id="games">
  <h5>games</h5>
  <ul class="unstyled-list">
  {% for game in site.data.itch.games %}
    <li>
      <a href="{{ game.url }}"><img src="{{ game.cover_url }}" class="u-full-width"></a>
      <h6><a href="{{ game.url }}">{{ game.title }}</a></h6>
      {% if game.short_text %}
        <p>{{ game.short_text }}</p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

<div class="five columns" id="blog">
  <h5>blog</h5>
    <ul class="posts unstyled-list">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}"><img src="{{ post.cover_url }}" class="u-full-width"></a>

          <span class="subtle">{{ post.date | | date: "%Y-%m-%d" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
</div>
