---
layout: default
title: Kevin Watters
---

<div id="home">
    <div style="text-align: center">
      <canvas id="playground-display" width="500" height="500" style="width: 500px; margin-top: 10px; border: 2px dashed #c0c0c0; border-radius: 5px;"></canvas>
    </div>
    <ul class="posts">
        {% for post in site.posts %}
        <li><span class="post_list_date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <!--
    <h1>Projects</h1>
    <ul class="projects">
        <li> <a href="http://kevinw.github.io/pyflakes-vim">pyflakes.vim</a></li>
        <li> <a href="http://kevinw.github.io/web2d">Web2D</a></li>
    </ul>
    -->
</div>

{% include twitter.html %}

<script src="js/lib/mathparser.js"></script>
<script src="js/lib/Mojulo.js"></script>
<script src="js/pretty.js"></script>
