---
layout: default
title: Kevin Watters
---

<style>.name-title { display: none; }</style>

<div style="padding-top: 80vh;">

<div style="background: rgba(255, 255, 255, .8); padding: 20px;">
  <ul class="posts">
      {% for post in site.posts %}
      <li><span class="post_list_date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
{% include twitter.html %}
</div>

</div>

<script src="js/lib/mathparser.js"></script>
<script src="js/lib/Mojulo.js"></script>
<script src="js/pretty.js"></script>
<script src="js/three.min.js"></script>
<!--<script src="js/TrackballControls.js"></script>-->
<script src="js/SceneLoader.js"></script>
<script src="js/indexscene.js"></script>
