<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=https://kev.town{{ page.url }}" />

  <meta charset="utf-8">
  <title>{{ page.title }} - MOVED</title>
  <meta name="description" content="la casa de kev en Interweb">
  <meta name="author" content="Kevin Watters">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/ktw2016.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

	<h3>This page has been moved to a <a href="https://kev.town{{ page.url }}">new location</a>.</h3>

</body>
</html>
